@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*, ::after, ::before {
  box-sizing: border-box;
}


* {
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}


body {
  font-family: var(--ff);
}


:root {

  --clr-primary: #ffffff;
  --clr-secondary: #cbf3f0;
  --clr-accent: #2ec4b6;
  --clr-text: #333333;

  /*? font-family */
  --ff: "popins", sans-serif;
  --ff1: "Roboto", sans-serif;
  --ff2: ;
  --ff3: ;

  /*? font-text-size */
  --fs-6xl: 3.75rem;  /* 60px */
  --fs-5xl: 3rem;     /* 48px */
  --fs-4xl: 2.25rem;  /* 36px */
  --fs-3xl: 1.875rem; /* 30px */
  --fs-2xl: 1.5rem;   /* 24px */
  --fs-xl: 1.25rem;   /* 20px */
  --fs-lg: 1.125rem;  /* 18px */
  --fs-normal: 1rem;  /* 16px (default) */
  --fs-sm: 0.875rem;  /* 14px */
  --fs-xs: 0.75rem;   /* 12px */

  /*? spacing */
  --space-3xl: 4.5rem;  /* Extra extra large spacing 72px*/
  --space-xxl: 3.75rem; /* Extra large spacing 60px*/ 
  --space-xl: 2.75rem; /* Extra large spacing 44px*/
  --space-lg: 1.875rem;  /* Large spacing 30px*/
  --space-md: 1.25rem;   /* Medium spacing 20px*/
  --space-sm: 0.938rem;  /* Small spacing 15px*/
  --space-xs: 0.313rem;  /* Extra small spacing 5px*/

  /*? max-width & min-width */
  --w-max-xl: 1500px;  /* Max-width */
  --w-max-lg: 1200px;
  --w-max-md: 992px;
  --w-max-sm: 768px;
  --w-max-xs: 576px;

  --w-min-xl: 1201px;/* Min-width(usually just above the previous max) */
  --w-min-lg: 993px;
  --w-min-md: 769px;
  --w-min-sm: 577px;
  --w-min-xs: 357px;  /* The smallest breakpoint */

}


/*! Font-Size  */

.fs-6 { font-size: var(--fs-4xl); }

.fs-5 { font-size: var(--fs-3xl); }

.fs-4 { font-size: var(--fs-2xl); }

.fs-3 { font-size: var(--fs-xl); }

.fs-2 { font-size: var(--fs-lg); }

.fs-1 { font-size: var(--fs-normal);}



.p-1 {
  font-size: var(--fs-normal);
  color: var(--clr-text);
  line-height: 1.3 ;
  letter-spacing: 0px ;
  word-spacing: 1px ;
  text-align: left ;
  text-decoration: none ;
  text-transform: none ;
}

.p-2 {
  font-size: var(--fs-sm);
  color: var(--clr-text);
  line-height: 1.3;
  letter-spacing: 0px;
  word-spacing: 1px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.p-3 {
  font-size: var(--fs-xs);
  color: var(--clr-text);
  line-height: 1.3;
  letter-spacing: 0px;
  word-spacing: 1px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}


h1 {
  font-size: var(--fs-4xl);
}

h2 {
  font-size: var(--fs-3xl);
}

h3 {
  font-size: var(--fs-2xl);
}

h4 {
  font-size: var(--fs-xl);
}

h5 {
  font-size: var(--fs-lg);
}

h6 {
  font-size: var(--fs-normal);
}



/*? Responsive */

@media (max-width: 757px) {



}




